.style-link-border{
    border: 2px solid black;
    margin-right: 15px;
    font-size: 30px !important;
}
.bq-001{
    height: 55px !important;
    width: 105px !important;
    margin-left: 10px !important;
}
.recherche-satge-emploi-accueil{
    font-weight: bold;
    font-size: 1.8rem;
    color: black;
}

.normal-style {
    color: black;
    font-size: 1.2rem;
}

.bg-card-info {
    background-color: #c1dbf4 !important;
}

.bg-danger-personnalise {
    background-color: #dc3545 !important;
    color: white !important;
    padding: 8px !important;
}

.bg-primary-personnalise {
    background-color: #007bff !important;
    color: white !important;
    padding: 8px !important;
}

.bg-danger-personnalise:hover {
    background-color: #7c0b17 !important;
}

.bg-primary-personnalise:hover {
    background-color: #073c74 !important;
}